.taskList {
  margin: 50px auto;
  list-style: none;
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-menu {
    text-align: right;
  }

  &-tab {
    list-style: none;
    display: flex;
    overflow-x: auto;

    &-item {
      flex-shrink: 0;
      width: 100px;
      padding: 0 25px;
      text-overflow: normal;
      margin-right: 5px;
      border: solid 1px #242f9b;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: #242f9b;
        color: #ffffff;
      }
    }
  }

  &-tasks {
    margin-top: 25px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      list-style-type: none;
      height: 70px;
      width: calc(100% - 25px);
      background-color: #f5f5f5;
      padding-left: 25px;
      font-size: large;
      border: solid 1px #ffffff;

      &-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000000;
      }
    }
  }

  &-error-message {
    color: #ff3333;
  }

  &-display-select-wrapper {
    width: 100px;
    margin: 0 0 25px auto;

    &-select {
      width: 100%;
    }
  }

  h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    /* 768px以下に適用されるCSS（タブレット用） */
    .taskList {
      width: 90%;
      margin: 20px auto;
    }

    .taskList-tab {
      &-item {
        width: 80px;
        padding: 0 15px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    /* 320px以下に適用されるCSS（スマホ用） */
    .taskList {
      width: 100%;
      margin: 10px auto;
    }

    .taskList-tab {
      &-item {
        width: 60px;
        padding: 0 10px;
      }
    }
  }
}
