@charset "utf-8";

.header {
  width: 100%;
  height: 80px;
  // padding-left: 25px;
  background-color: #249b99;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

h1 {
  padding: 20px 35px;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 25px auto auto;
  font-weight: bold; /* ボタンのテキストを太字にする */
  text-decoration: none; /* リンクの下線を削除 */
}

/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 768px) {
  /* 768px以下に適用されるCSS（タブレット用） */
  .header {
    height: 60px;
    padding: 10px;
  }

  // .sign-out-button {
  //   display: none;
  // }
}

@media screen and (max-width: 320px) {
  /* 320px以下に適用されるCSS（スマホ用） */
  .header {
    height: 50px;
    padding: 5px;
    justify-content: center;
  }

  // .sign-out-button {
  //   display: none;
  // }
}
